nav {
    display: flex;
    justify-content: space-between;
    height: 48px;
    align-items: center;
    
}

ul, li {
    display: inline-block;
    color: purple;
}
a {
    text-decoration: none;
    margin-left: 16px;
}
.image__logo {
    width: 150px;
    height: 100px;
}

@media (max-width: 600px){
    .lista__menu {
        display: none;
    }
}